* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(42, 43, 42), rgb(223, 219, 219));
    height: 100vh;
    
}
.container {
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    place-content: center;
   
}

.container h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.input_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.input_container input{
    height: 2.5rem;
    width: 70%;
    margin-right: 10px;
    border: none;
    font-size: 1.5rem;
    box-shadow: 7px 7px 5px #000;
    padding: 0.7rem;
}
.input_container button{
    font-size: 1rem;
    height: 2.5rem;
    width: 20%;
    box-shadow: 7px 7px 5px #000;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}

.second_container{
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 1rem;
    scrollbar-width: thin;
}

.second_container ul{
    list-style: none;
    
}

ul li{
    padding: 1.5rem;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 100%;
    margin-top: 10px;
    text-align: center;
}
ul li:hover{
    background-color: gray;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
   
}

.completed {
    text-decoration: line-through;
    color: rgb(245, 245, 245);
}

ul li span {
    float: left;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
ul li span:hover{
    transform: scale(1.2);
    transition: 0.2 ease;
}

@media (max-width: 600px) {
    .input_container{
        flex-direction: column;
        align-items: stretch;
    }

    .input_container input,
    .input_container button {
        width: 100%;
    }
}